
    #savedSearch {
        border-style: double;
        padding: 2%;
        background-color:rgb(248,249,250);
        align-content: center;
    }
    
    #titleCard {
        background-color:rgb(52,58,64);
        color: whitesmoke;
        padding: 20px;
        text-align: center;
    }
    
    body {
        background-color: gainsboro;
    }

.rain {
    background-image: url('images/rain.jpg');
    background-size: cover;
}

.snow {
    background-image: url('images/snow.jpg');
    background-size: cover;
}

.sunny {
    background-image: url('images/sun.jpg');
    background-size: cover;
}

.cloudy{
    background-image: url('images/cloud.jpg');
    background-size: cover;
}
    
#previousSearch {
    width: fit-content;
    align-content: center;
    margin: 0 auto;
}

#results {
    margin: 0 auto;
}


/* created classes for UV index if else statement */

.safe {
    background-color: green;
    width: fit-content;
    border-radius: 5px;
    padding: 3px;
}

.kindaSafe {
    background-color: greenyellow;
    width: fit-content;
    border-radius: 5px;
    padding: 3px;
}

.unSafe{
    background-color: orange;
    width: fit-content;
    border-radius: 5px;
    padding: 3px;
}


.danger{
    background-color: red;
    width: fit-content;
    border-radius: 5px;
    padding: 3px;

}

.stayInside{
    background-color: hotpink;
    width: fit-content;
    border-radius: 5px;
    padding: 3px;
}

h4 {
    margin: 0 auto;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: underline;
    background-color: rgb(100, 105, 110);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin: 0 auto;

}

.h-100{
    background-color: whitesmoke;
    width: fit-content;
    border-style: solid;
    border-width: 3px;
    color: black;
    border-color: rgb(79, 88, 97);
    margin: 0 auto;
}

h2{
    margin: 0 auto;
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(52,58,64);
    background-color: whitesmoke;
    width: fit-content;
}
